@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .lMsg{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 2px solid rgb(37 99 235 );
        border-radius: 20px;
        margin:2px auto 2px 3px;
        margin-left:0.75rem !important;
        align-self: start; 
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        color:white;
        overflow-wrap: break-word;
    }
    .rMsg{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 2px solid rgb(37 99 235 );
        border-radius: 20px;
        margin:3px 3px 2px auto;
        margin-right:0.75rem !important;
        align-self: end;
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        color:white;
        overflow-wrap: break-word;

    }
}